<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <mappers>
       <mapper  resource="UserDaoMapper.xml"/>
        <mapper resource="mapping/CheckcodeMapper.xml"/>
        <mapper resource="mapping/ItemMapper.xml"/>
        <mapper resource="mapping/MaintenanceMapper.xml"/>
        <mapper resource="mapping/RepairerMapper.xml"/>
        <mapper resource="mapping/StudentMapper.xml"/>
        <mapper resource="mapping/SuperAdminMapper.xml"/>
        <mapper resource="mapping/SupervisorMapper.xml"/>
    </mappers>
</configuration>